[Desktop Entry]
Name=Flutter Codemagic Example
Comment=Flutter Codemagic Example that does everything!
Icon=${SNAP}/meta/gui/icon.png
Exec=flutter-codemagic-example %U
Terminal=false
Type=Application
Categories=Games;
Keywords=Games;
StartupNotify=false
